<!DOCTYPE html>
<html>
<head>
	<title>quiz</title>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta http-equiv="Content-Security-Policy" content="default-src *; script-src 'self' 'unsafe-inline' 'unsafe-eval' *; style-src  'self' 'unsafe-inline' *">
    <script src="jquery/jquery.min.js"></script>
    <script src="angular/angular.min.js"></script>
    <script src="router/angular-ui-router.min.js"></script>
    <script src="resource/angular-resource.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="bootstrap-toggle/js/bootstrap-toggle.min.js"></script>
    <script src="static/app.js"></script>
    <script src="static/controller.js"></script>
    <script src="static/state.js"></script>
    <script src="static/services.js"></script>
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">   
    <link rel="stylesheet" type="text/css" href="bootstrap-toggle/css/bootstrap-toggle.min.css">   
</head>
<body ng-app='app'>
	<div ui-view>
	</div>
</body>
</html>