<h1 class="jumbotron text-center">{{title}}</h1>
<div class="container">
	<div ng-if="message!=null" class="alert alert-success text-center ">{{message.message}}</div>
	<div ng-if="error!=null" class="alert alert-danger text-center ">{{error}}</div>
	<div class="form-group">
		<label for="question">Question</label>
			<input type="text" name="question" id='question' class="form-control" ng-model="form.question">
	</div>
	<div class="form-group">
		<label for="difficulty">Difficulty Level</label>
		<select class="form-control" id="difficulty" name="difficulty" ng-model="form.difficulty" >
			<option ng-repeat="n in options" value='{{n}}'>{{n}}</option>
		</select>
	</div>
	<div class="form-group">	
		<label for="answer1">Option 1:</label>
		<div class="input-group">
		<input type='text' id="answer1" name="answer1" ng-model="form.answer1" class="form-control" >
		<span class="input-group-addon">		
			<input type="radio" name="answer" ng-model="form.answer" ng-value="form.answer1">
		</span>
		</div>
	</div>
	<div class="form-group">
		<label for="answer2">Option 2:</label>
		<div class="input-group">
		<input type='text' id="answer2" name="answer2" ng-model="form.answer2" class="form-control">
		<span class="input-group-addon">		
			<input type="radio" name="answer" ng-model="form.answer" ng-value="form.answer2">
		</span>
		</div>
	</div>
	<div class="form-group">
		<label for="answer3">Option 3:</label>
		<div class="input-group">
		<input type='text' id="answer3" name="answer3" ng-model="form.answer3" class="form-control">
		<span class="input-group-addon">		
			<input type="radio" name="answer" ng-model="form.answer" ng-value="form.answer3">
		</span>
		</div>

	</div>
	<div class="form-group">
		<label for="answer4">Option 4:</label>
		<div class="input-group">
		<input type='text' id="answer4" name="answer4" ng-model="form.answer4" class="form-control">
		<span class="input-group-addon">		
			<input type="radio" name="answer" ng-model="form.answer" ng-value="form.answer4">
		</span>
		</div>

	</div>
	<div class="btn-group btn-group-justified">
		<a class="btn btn-lg btn-primary" ng-click="addquestion()">submit</a>
		<a class="btn btn-lg btn-secondary" type="reset" ng-click="goBack()">dashboard</a>
	</div>
</div>